@font-face {
  font-family: Open Sans;
  src: url(../assets/fonts/Open_Sans/static/OpenSans-Bold.ttf);
  src: url(../assets/fonts/Open_Sans/static/OpenSans-ExtraBold.ttf);
  src: url(../assets/fonts/Open_Sans/static/OpenSans-Italic.ttf);
  src: url(../assets/fonts/Open_Sans/static/OpenSans-Light.ttf);
  src: url(../assets/fonts/Open_Sans/static/OpenSans-Medium.ttf);
  src: url(../assets/fonts/Open_Sans/static/OpenSans-Regular.ttf);
  src: url(../assets/fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
}
