.intro {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  h1 {
    display: flex;
    gap: 10px;
    color: $greylow;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
  }
}
.about__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about {
  h1 {
    width: 657px;
    color: $baseblack;
    font-family: "Open Sans";
    font-size: 38px;

    font-weight: 700;
    letter-spacing: -1.14px;
  }
  h2 {
    width: 657px;
    color: $baseblack;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin-top: 15px;
  }
  &_call {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    button {
      display: flex;
      padding: 16px 36px 18px 36px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      background: $green;
      border: none;
      color: $white;
      text-align: center;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 600;
    }
    h3 {
      color: $green;
      font-family: "Open Sans";
      font-size: 24px;
      font-weight: 700;
      border-bottom: $green;
    }
    h4 {
      color: $greymedium;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 400;
    }
  }
  &_offer {
    margin-top: 41px;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $baseblack;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
    }
  }
  &-img {
    .resimga {
      display: none;
    }
  }
}
@media only screen and (max-width: 768px) {
  .intro {
    margin-top: -50px;
  }
  .about__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about {
    order: 1;
  }

  .about-img {
    .resimga {
      display: block;
    }
    .desimga {
      display: none;
    }
    order: 0;
  }
  .about {
    h1 {
      width: 100%;
      font-size: 22px;
      letter-spacing: -0.66px;
    }
    h2 {
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      line-height: 160%;
      margin-top: 15px;
    }
    &_call {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(1, auto);
      gap: 30px;
      button {
        display: flex;
        padding: 16px 36px 18px 36px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: $greylow;
        border: none;
        color: $white;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
      }
      h3 {
        color: $green;
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 700;
        border-bottom: $green 2px solid;
      }
      h4 {
        color: $greymedium;
        font-size: 12px;
        font-weight: 400;
      }
    }
    &_offer {
      margin-top: 41px;
      display: grid;
      grid-template-columns: repeat(2, auto);
      list-style: none;
      align-items: center;
      gap: 30px;
      li {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $baseblack;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
