.lawyers {
  margin-top: 80px;
  h1 {
    color: $baseblack;
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.96px;
  }
  &-cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    &-wrap {
      margin-top: 20px;
      justify-content: space-between;
      padding: 20px;
      border-radius: 20px;
      border: 1px solid $greyborder;
      width: 560px;
      &-intro {
        display: flex;
        align-items: center;
        gap: 15px;
        img {
          padding-top: 70px;
        }
        h1 {
          color: $baseblack;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 600;
          border-bottom: $green 2px solid;
        }
      }
      h2 {
        color: $greyhigh;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        width: 520px;
        padding-bottom: 20px;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .lawyers {
    margin-top: 80px;
    h1 {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.6px;
    }
    &-cards {
      display: grid;
      grid-template-columns: repeat(1, auto);
      &-wrap {
        margin-top: 20px;
        justify-content: space-between;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid $greyborder;
        width: 100%;
        &-intro {
          display: flex;
          align-items: center;
          gap: 15px;
          h1 {
            font-size: 14px;

            border-bottom: $green 1px solid;
          }
        }
        h2 {
          font-size: 12px;
          width: 100%;
          padding-bottom: 20px;
        }
      }
    }
  }
}
.lawyers-about {
  margin-top: 20px;
  border-radius: 20px;
  background: var(--green, #33836e);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  &-img {
    img {
      margin-top: 5px;
      padding-bottom: -15px;
    }
  }
  &-text {
    h1 {
      color: $white;
      font-family: "Open Sans";
      font-size: 24px;
      font-weight: 600;
    }
    h2 {
      color: $white;
      font-family: "Open Sans";
      font-size: 42px;
      font-weight: 700;
      letter-spacing: -1.26px;
    }
  }
  &-photos {
    h3 {
      color: $white;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .lawyers-about {
    display: none;
  }
}
